# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# vscode
.ipynb_checkpoints/

# Model files
models/
*.h5
*.keras
*.pkl

# Outputs
outputs/
*.png
*.txt

# Dataset
dataset/
Dataset/

# Environment / secrets
.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log